<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <div th:remove="tag" th:replace="fragments/head :: head"></div>
</head>
<body>
<form th:action="@{/back}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
</form>

<div class="container">
        <h1>Ha entrado al login</h1>
        <p>
            Mambooooooooo
        </p>
</div>

</body>
</html>