<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:remove="tag" th:replace="fragments/head :: head"></div>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img th:src="@{/images/logoConFondo.png}" class="mt-4" width="300" alt="Logo" />
				</div>

				<form  th:action="@{/login}" method="POST" class="login100-form validate-form">
					<span class="login100-form-title">
						Inicia Sesion
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="email" name="email" placeholder="Email"required autofocus>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="password" placeholder="Password"required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					
					<div class="wrap-input100 validate-input" data-validate = "code is required">
						<input class="input100" type="text" name="code" placeholder="Code">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn"  name="Submit" value="Login" type="Submit">
							Login
						</button>
					</div>
				</form>

				<form th:action="@{/registrarse}" method="get">
					<button class="txt2" type="Submit">Registrarse</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>