<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="css/registrarse.css" rel="stylesheet" media="all">
    <link href="css/alergias.css" rel="stylesheet" media="all">
   

</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Registrarse</h2>
                    <form autocomplete="off" action="#" th:action="@{/registration}"
                            th:object="${user}" method="post"
                            role="form">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Nombre</label>
                                    <input class="input--style-4" type="text" name="name" placeholder="Name" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Apellido</label>
                                    <input class="input--style-4" type="text" name="lastname" placeholder="Last Name" required>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="email"  name = "email" placeholder="Email">
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Contraseña</label>
                                    <input class="input--style-4" type="password" name="password" placeholder="Password">
                                </div>
                            </div>

                            
                        </div>
                        <div class="row row-space">

                            <div class="col-12">
                                <div class="input-group">
                                    <label class="label">Altura</label>
                                    <input class="input--style-4" type="text" name="altura" placeholder="Altura" required>
                                </div>
                               
                            </div>
                            
                            <div class="col-12">
                                <div class="input-group">
                                    <label class="label">Peso</label>
                                    <input class="input--style-4" type="text" name="peso" placeholder="Peso" required>
                                </div>
                               
                            </div>
                           
                        </div>
                        <div class="row row-space">

                            <div class="col-12">
                                <div class="input-group">
                                    <label class="label">Sexo</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Masculino
                                            <input type="radio" name="sexo" value="true" id="male">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Femenino
                                            <input type="radio" name="sexo" value="false" id="female">
                                            <span class="checkmark"></span>
                                        </label>   
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        <div class="row row-space">
                            
                            <div class="col-2">
                                <H2>Alergias</H2>
                                <input type="checkbox" th:each="a : ${alergias}" th:field="*{alergiasStr}" th:value="${a.id}" th:text="${a.descripcion}">
                            </div>
                            
                            <div class="col-2">
                                <H2>Prefiero</H2>
                                <input type="checkbox" th:each="p : ${preferencias}" th:field="*{preferenciaStr}" th:value="${p.id}" th:text="${p.descripcion}">
                            </div>
                            
                            <div class="col-2">
                                <br>
                                <H2>No quiero</H2>
                                <input type="checkbox" th:each="p : ${preferencias}" th:field="*{noPrefiereStr}" th:value="${p.id}" th:text="${p.descripcion}">
                            </div>
                            
                        </div>
                        
                        <div class="container">
                            <ul class="ks-cboxtags">
                            <li></li>
                            <!--<li><input type="checkbox" id="checkboxTwo" value="Alergia2" ><label for="checkboxTwo">Alergia 1</label></li>
                            <li><input type="checkbox" id="checkboxThree" value="Alergia3" ><label for="checkboxThree">Alergia 1</label></li>
                            <li><input type="checkbox" id="checkboxFour" value="Alergia4"><label for="checkboxFour">Alergia 1</label></li>
                            <li><input type="checkbox" id="checkboxFive" value="Alergia5"><label for="checkboxFive">Alergia 1</label></li>
                            <li><input type="checkbox" id="checkboxSix" value="Alergia6" ><label for="checkboxSix">Alergia 1</label></li>
                            <li><input type="checkbox" id="checkboxSeven" value="Alergia7"><label for="checkboxSeven">Alergia 1</label></li>
                            <li><input type="checkbox" id="checkboxEight" value="Alergia8"><label for="checkboxEight">Alergia 1</label></li>-->
                            </ul>
                        
                        </div>

                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit" >Registrarse</button>
                        </div>

                        <h2><span class="text-success" th:utext="${successMessage}"></span></h2>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
