<div th:fragment="headerUser">

    <nav id="menu">
        <div id="navIzq">
            <a href="https://mondragon.edu"><img id="logo" th:src="@{/images/logoMondra.png}"></a>
        </div>
        <div id="navMe">
            <a href="https://mondragon.edu">Dieta de hoy</a>
            <a href="https://mondragon.edu">Dieta de toda la semana</a>
            <a href="https://mondragon.edu">Historial de recetas</a>
            
        </div>
        <div class="desplegable">
            <a class="botonConfi">Boton desplegable</a>
            <div class="links">
                <a href="https://mondragon.edu">Editar perfil</a>
                <a href="https://mondragon.edu">Logout</a>
            </div>
        </div>
    </nav>
    
</div>