<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/styleSettings.css">
    <link rel="stylesheet" href="css/historial.css">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <div th:remove="tag" th:replace="fragments/head :: head"></div>
  </head>
  <body>
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <div th:replace="fragments/headerUser :: headerUser"></div>

    <div class="row d-flex justify-content-center" style="margin-top:0%;margin-right: 0px;">
                        
                                  
        <div class="col-lg-6" style="margin-top:10%; padding: 0%;">
           
           <div class="card">
               <div class="card-body text-center">
                   <h4 class="card-title m-b-0">HISTORIAL DE COMIDAS</h4>
               </div>
               <ul  th:each = "r : ${recetas}" class="list-style-none">
                   <li class="d-flex no-block card-body">
                       <i class="fa fa-cutlery w-30px m-t-5"></i>
                       <div>
                           <span class="text-muted"><span th:text="${r.receta.title}"></span><br>
                           <!--<span class="text-muted">Segundo plato</span>-->
                       </div>
                       <div class="ml-auto">
                           <div class="tetx-right">
                               <h5 class="text-muted m-b-0">Dia: <span th:text="${r.fecha.date}"></span></h5>
                               <span class="text-muted font-16">Mes: <span th:text="${r.fecha.month} +1"></span>
                           </div>
                       </div>
                   </li>
               </ul>
           </div>

       </div>
    </div>
       
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>    