<!DOCTYPE html>
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/activities.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <div th:remove="tag" th:replace="fragments/head :: head"></div>
    <title>My Activities</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <main role="main">

        <div class="container">
            <h1 class="jumbotron-heading">My Activities</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
            <p>
        </div>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="middle flex-md-row mb-4 box-shadow h-md-250">
                            <img class="card-img" th:src="@{/images/yoga.png}" alt="Card image cap" style="height: 300px; width: 350px;" data-holder-rendered="true">
                            <div class="card-body d-flex flex-column align-items-center container">
                                <h1 class="title">Activities</h1>
                                <h2 class="second-title absolute">Yoga course</h2>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.
                                This is a wider card with supporting text below as a natural lead-in to additional content.
                                This is a wider card with supporting text below as a natural lead-in to additional content.
                                This is a wider card with supporting text below as a natural lead-in to additional content.
                                This is a wider card with supporting text below as a natural lead-in to additional content.
                            </p>
                            </div>
                            <div class="rectangle"></div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </main>
</body>